body {
    background-color: #0a1930;
    font-family: "Source Sans Pro", sans-serif;
    display: grid;
    text-align: center;
    color: #cccccc;
}

h1 {
    font-size: 3vw;
    position: relative;
    font-family: "Source Code Pro", monospace;
    width: max-content;
    margin: 15vw auto 0vw;
}

h1::before, h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before {
    background-color: #0a1930;
    animation: text 4s 1s steps(23) forwards;
}

h1::after {
    width: 0.25vw;
    background-color: white;
    animation: text 4s 1s steps(23) forwards,
    blink 0.75s steps(23) 30;
}

.welcome {
    font-family: "Source Code Pro", monospace;
    margin: 2vw auto;
    border-bottom: 3px solid #cccccc;
    overflow: hidden;
    animation: reveal 2s linear 6s forwards;
    opacity: 0;
}

.welcome p {
    margin: 0;
    padding: 0;
    color: #cccccc;
    font-size: 1.5vw;
    text-shadow: 2px 2px 2px black;
}

#portfolio {
  transition: box-shadow 0.75s ease-in-out;
  background-color: transparent;
  border: 3px solid #cccccc;
  border-radius: 0.5vw;
  color: #cccccc;
  font-size: 0.75vw;
  font-weight: 700;
  height: 2.5vw;
  width: 10vw;
  opacity: 0;
  transform: translateY(1vw);
  margin: auto;
  animation: fadeup 2s ease 8s forwards;
}

#portfolio:hover {
    box-shadow: 0 0 40px 40px #cccccc inset;
    color: black;
    cursor: pointer;
}

#about-me {
    animation: fadeup 2s ease 10s forwards;
    transform: translateY(1vw);
    opacity: 0;
    display: block;
    margin: 18vw auto;
}

@keyframes text {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background-color: transparent;
    }
}

@keyframes reveal {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    30% {
        width: 500px;
        height: 0px;
    }
    60% {
        width: 500px;
        height: 50px;
    }
    90% {
        width: 500px;
        height: 50px;
        border-bottom: 3px solid rgba(204, 204, 204, 0.5);
    }
    100% {
        width: 500px;
        height: 50px;
        border-bottom: 3px solid rgba(204, 204, 204, 0);
        opacity: 1;
    }
}

@keyframes fadeup {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}